<section class="container">
  <div class="promotion">
    <label for="promo-code">Have A Promo Code?</label>
    <input type="text" id="promo-code" [(ngModel)] = " coupon" (input)="useCoupon()"/> <button type="button"></button>
  </div>

  <div class="summary">
    <ul>
      <li>Subtotal <span>${{getSubtotal()}}</span></li>
      <li>Tax <span>${{(getSubtotal() * 0.1).toFixed(2)}}</span></li>
      <li>Discount<span>{{getDiscount().toFixed(2)}}</span></li>
      <li class="total">Total <span>${{(getSubtotal() + getSubtotal() * 0.1-getDiscount()).toFixed(2)}}</span></li>
    </ul>
  </div>

  <div class="checkout">
    <button type="button">Check Out</button>
  </div>
</section>
